
<mat-toolbar class="navbar">
    <!-- <a class="a_tag" id="a_responsive">
        <span  id="btn-wrap" >
        </span>
     </a> -->
    <a class="a_tag" id="a_responsive">
       <span class="mat-button-wrapper">
        <img src="assets/logo.png" class="project-logo" alt="">
       </span>
    </a>
    
    <a class="a_tag" id="a_responsive">       
            <span id="hader-card-wrapper" routerLink="/home">
                <mat-icon id="home-logo-icon">home</mat-icon>
                <span class="icon_title">Home</span>
            </span>        
     </a>
     <a class="a_tag" id="a_responsive">      
            <span id="hader-card-wrapper" routerLink="/trustees">
                <mat-icon id="home-logo-icon">people</mat-icon>
                <span class="icon_title">Trustees</span>
            </span>       
     </a>

     <a class="a_tag active" id="a_responsive">       
            <span id="hader-card-wrapper" routerLink="/">
                <mat-icon id="home-logo-icon">person</mat-icon>
                <span class="icon_title">Professionals</span>
            </span>      
     </a>

     <a class="a_tag" id="a_responsive">   
            <span id="hader-card-wrapper">
                <mat-icon id="home-logo-icon">more_horiz</mat-icon>
                <span class="icon_title">More</span>
            </span>     
     </a>

     <div style="flex-grow: 1;"> </div>

     <a class="a_tag">
        <span id="hader-card-wrapper">           
                <mat-icon class="search_icon">search</mat-icon>          
        </span>
    </a>
    <a class="a_tag">
        <span id="hader-card-wrapper">
            <button mat-raised-button color="warn" class="email_button">
                <mat-icon class="mail_icon">mail</mat-icon>
                Invite
            </button>
        </span>
    </a>
    <a class="a_tag">
        <span id="hader-card-wrapper">
            <img src="assets/user_img.jpg" class="user-logo" alt="">
        </span>
    </a>
    
    
</mat-toolbar>